*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
 }
 a{
     text-decoration: none;
 }
 /* navbar */
.navbar{
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: seagreen;
    border-bottom: 0.5px solid beige;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    width: 90%;
  }
  .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: beige;
    text-decoration: none;
  
  }
  /* .logo a span{
    color: seagreen;
  } */
  .menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
  .menu li a{
    text-decoration: none;
    color: beige;
    padding:1.5rem;
    /* margin: 5px; */
    transition: all 0.5s ease;
border-right: 0.5px solid beige;
font-weight: bold;
  }
  .menu li .home{
    border-left: 0.5px solid beige;
  }
  /* .menu li a:hover{
    background-color: seagreen;
    color: white;
  } */
  .burger{
    display: none;
  }

 /* intro */

 .intro{
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./img/my-intro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .main-intro{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .main-intro .first-intro{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin-top: 100px;
 }
 .first-intro p{
    font-size: 25px;
    color: beige;
    margin-bottom: 20px;
    margin-top: 20px;
 }
 .first-intro h2{
    font-size: 50px;
    color: beige;
    margin-bottom: 10px;
 }
.main-intro .second-intro{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.second-intro .link a{
    font-size: 15px;
    border: 0.5px solid beige;
    color: beige;
    text-align: center;
    padding: 10px 30px;
    border-radius: 30px;
    transition: 0.8s ease-in-out;
}
.second-intro .link a:hover{
    color: black;
    background-color: beige;
    border: none;
}

/* SKILL */
.skills{
    width: 100%;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-skill{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.main-skill .first-skill{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.main-skill .skill-year{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-skill .title{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 70px;
}
.title h3{
    font-size: 15px;
    padding: 5px 30px;
    border: 0.5px solid beige;
    border-radius: 30px;
margin-bottom: 5px;
color: beige;
}
.title h2{
    font-size: 45px;
    color: beige;
}
.first-skill .icon{
    width: 100%;
    display: flex;
}
.first-skill .icon .icons{
    width: 110px;
    height: 200px;
    border: 0.5px solid beige;
border-radius: 70px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin: 10px;
}
.icons i{
    font-size: 60px;
color: beige;
}
.icons p{
    font-size: 14px;
    font-weight: bold;
    color: beige;
}
.skill-year .year{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.year h2{
    font-size: 50px;
    color: beige;
}
.year p{
    font-size: 15px;
    font-weight: bold;
    color: beige;
}
/* projects */
.projects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 87, 51);
}
.main-projects{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.main-projects .title-p{
    width: 100%;
    display: flex;
    
    align-items: center;
    margin-bottom: 70px;
}
.title-p .right{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.right .right-t{
    display: flex;
    justify-content: flex-start;
}
.right-t h3{
    font-size: 15px;
    padding: 5px 20px;
    border: 0.5px solid beige;
    border-radius: 30px;
margin-bottom: 5px;
color: beige;

}
.right h2{
    font-size: 45px;
    color: beige;
}
.title-p .all-link{
    width: 600px;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
}
.all-link a{
    font-size: 20px;
    color: beige;
    cursor: pointer;
}
.all-link a:hover{
    text-decoration: underline;
}
.main-projects .finished-p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.finished-p .temp{
    width: 550px;
    display: flex;
    flex-direction: column;
    margin: 20px;

}
.temp .img-body{
    width: 550px;
    height: 370px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: linear-gradient(71deg, rgba(24,82,125,1) 25%, rgba(37,129,196,1) 67%);
    border-radius: 10px;
}
 #box-2{
    background: linear-gradient(71deg, rgba(19,182,115,1) 29%, rgba(56,117,92,1) 73%);

}
.img-body img{
    width: 90%;
    height: 270px;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
    box-shadow:  0px 0px 3px 3px  rgb(43, 42, 42);
}
.img-body .img-links{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    
    position: absolute;
    background-color: rgba(46, 139, 86, 0.308);
    backdrop-filter: blur(5px);
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: 1.5s ease;
}
.img-body:hover .img-links{
    right: 0;
  }
  .img-links a{
    font-size: 45px;
    color: seagreen;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    background-color: beige;
    transition: 0.5s ease-in-out;
  }
  .img-links a:hover{
    background-color: black;
    color: beige;
  }
.temp .detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.detail a{
    font-size: 25px;
    color: beige;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.detail a:hover{
    text-decoration: underline;
}

.detail p{
    font-size: 15px;
    color: beige;
    display: flex;
    align-items: center;
   
}
.finished-p #temp2{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#temp2 .img-body{
    width: 350px;
    height: 450px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}
 .img-body .img2{
    width: 250px;
    height:420px;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
    box-shadow:  0px 0px 3px 3px  rgb(43, 42, 42);
}
#box-3{
    background: linear-gradient(71deg, rgba(31,129,30,1) 29%, rgba(55,201,54,1) 73%);
}
#box-4{
    background: linear-gradient(71deg, rgba(131,130,130,1) 25%, rgba(19,19,19,1) 67%);
}
#box-5{
    background: linear-gradient(71deg, rgba(161,24,30,1) 29%, rgba(255,33,44,1) 73%);
}

/* contact */
.contact{
    width: 100%;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-contact{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    
    flex-direction: column;
    margin: 100px 0;
}
.main-contact .con-title{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.con-title p{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 30px;
    text-align: center;
    color: beige;
    border: 0.5px solid beige;
}
.main-contact h2{
    font-size: 50px;
    color: beige;
 
    margin-bottom: 10px;
}
.main-contact p{
    font-size: 15px;
    /* font-weight: bold; */
   
    margin-bottom: 40px;
    color: beige;
}
.main-contact a{
    font-size: 35px;
    color: beige;
    text-decoration: underline;
}

@media screen and (max-width:770px){
    .menu{
        display: none;
      }
      .burger{
        display: block;
        cursor: pointer;
      }
      .line1,
      .line2,
      .line3{
        width: 25px;
        height: 3px;
        background-color: beige;
        margin: 5px;
        transition: all 0.5s ease;
      }
  .change .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
  }
      .change .line2{
        opacity: 0;
      }
      .change .line3{
        transform: rotate(45deg) translate(-5px, -6px);
        background-color: beige;
      }
  .menu.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  z-index: 1000;
    background-color: seagreen;
    transition: all 0.5s ease;
  
  }
  .menu.active li{
    margin: 0.5rem 0;
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .menu.active li a{
    font-size: 25px;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.5s ease;
  }
  .main-skill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  width: 90%;
}
.main-skill .first-skill{
    width:90%;
    padding: 10px;
}
.first-skill .icon .icons{
    width: 150px;
    height: 200px;
    border: 0.5px solid beige;
margin: 20px;
}
.main-skill .skill-year{
    width: 100%;
}
.main-projects .finished-p{
    display: flex;
   flex-wrap: wrap;
      justify-content: center;
        align-items: center;
}
.first-intro h2{
    font-size: 60px;
 }
}

@media screen and (max-width:480px){
    .intro{
        height: 100vh;
        background-position: center;
    }
    .first-intro h2{
        font-size: 40px;
     }
     .first-intro p{
        font-size: 20px;
     }
     .main-skill{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      
    }
    .main-skill .first-skill{
        width:100%;
        padding: 10px;
    }
    .first-skill .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .first-skill .icon .icons{
        width: 120px;
        height: 200px;
        border: 0.5px solid beige;
    margin: 10px;
    }
    .right h2{
        font-size: 35px;
    }
    .main-projects .finished-p{
        display: flex;
      flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .finished-p .temp{
        width: 340px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .temp .img-body{
        width: 340px;
        height: 370px;
        margin-bottom: 5px;
    }
    .finished-p #temp2{
        width: 340px;
        margin-bottom: 20px;
    }
    #temp2 .img-body{
        width: 340px;
        height: 450px;
        margin-bottom: 5px;
    }
      .temp .detail{
        width: 100%;
        display: flex;
       flex-direction: column;
       justify-content: flex-start;
    }
    .main-skill .skill-year{
        width: 100%;
    }
}
